# Environment Variables


## Config
#
## 🔑 The bot token used to connect to Discord
## (required)
# CONFIG_TOKEN=""
## 🔢 Shard ID to use, 0 for automatic assignment
## (default: '0')
# CONFIG_SHARD_ID="0"
## 🔢 Total number of shards to use, 0 for automatic calculation
## (default: '1')
# CONFIG_SHARD_COUNT="1"
## 📜 Log level for the bot (e.g., debug, info, warn, error)
## (default: 'debug')
# CONFIG_LOGGING_LEVEL="debug"
## ✨ Enable pretty-printed logs for human readability
## (default: 'true')
# CONFIG_LOGGING_PRETTY="true"
## 🌈 Add colors to logs for better visibility
## (default: 'true')
# CONFIG_LOGGING_COLORS="true"
## 🗂️ Include short file paths in log messages for debugging
## (default: 'false')
# CONFIG_LOGGING_SOURCE="false"
## ⏳ How long to wait before shutting down the metrics server
## (default: '15s')
# CONFIG_METRICS_SHUTDOWN_DURATION="15s"
## 📊 Port where the metrics server will be available
## (default: '9090')
# CONFIG_METRICS_PORT="9090"
## 🌐 The base URL for the Strapi API
## (default: 'http://localhost:1337/api')
# CONFIG_API_BASE_URL="http://localhost:1337/api"
## 🔐 Authentication scheme for the Strapi
## (default: 'Bearer')
# CONFIG_API_AUTH_SCHEME="Bearer"
## 🔑 Authentication token for accessing the Strapi API
# CONFIG_API_AUTH_TOKEN=""
## 🛠️ Enable debug logging for Strapi API requests
## (default: 'false')
# CONFIG_API_DEBUG="false"
## 🔁 Number of retries for failed requests
## (default: '3')
# CONFIG_API_RETRY_COUNT="3"
## ⏳ Time to wait between retries
## (default: '1s')
# CONFIG_API_RETRY_WAIT_TIME="1s"
## ⏳ Maximum time to wait for retries
## (default: '5s')
# CONFIG_API_RETRY_MAX_WAIT_TIME="5s"
## 🏷️ Name of the Lavalink node (must be unique)
## (default: 'disruptor')
# CONFIG_LAVALINK_NODENAME="disruptor"
## 🌐 Lavalink server address (e.g., localhost:2333)
## (default: 'localhost:2333')
# CONFIG_LAVALINK_NODEADDRESS="localhost:2333"
## 🔑 Lavalink server password
# CONFIG_LAVALINK_NODEPASSWORD=""
## 🔒 Use secure connection (wss)
## (default: 'false')
# CONFIG_LAVALINK_NODESECURE="false"
